 /* global css  */
 @font-face {
    font-family: 'fancy-signature';
    src: url('../css/fonts/Fancy\ Signature/Fancy Signature') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('./fonts/Fancy\ Signature/Fancy Signature') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 

  @font-face {
    font-family: 'roboto';
    src: url('../css/fonts/Roboto/Roboto-Light.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('./fonts/Roboto/Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 
  @font-face {
    font-family: 'roboto-regular';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 
  @font-face {
    font-family: 'roboto-fancy';
    src: url('../css/fonts/Fancy\ Signature/') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('./fonts/Fancy\ Signature/Fancy Signature.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 
 *{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 body{
     background: url(../img/Background.png);
     background-size: cover;
 }
  
 .top-background
 {
     background: url(../img/up.png);
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
 /* strat header css  */
 .main-menu .nav li a {
    font-size: 20px !important;
    
   }
   .nav-button{
    border: none !important;
}
   .left-side-nav{
    border-right: 1px white;
}
.line-batween{
    border-right: 1px solid #FFF;
}
/* hove links menu  */
.nav-link:hover{
    text-shadow: 1px 1px  12px rgba(247, 244, 245, .9);
}
.img-shadow{
    box-shadow: -21px 24px 23px #000000;
}
/* hove links menu  */
 /* end header css  */
/* globl color  */
.primary-color{
    color: #acb3ba;
}
.second-color{
    color: #868c92;
}
/* globl color  */
p{
    font-family:roboto-regular ;
}
/* strat content css */
.content {
    margin: 21px 6px;
    text-transform: uppercase;
    font-family: roboto;
}
.content h1{
    font-size: 65px;
}
.content h3{
    font-size: 40px;
    margin: 3px;

}
.title_content{
    margin: 30px 0 30px 10px;

}
.download-section {
    margin-top: 45px;
    margin-left: 6px;
}
.download-section div:not(.download-text){
    padding-left: 0px;
}
.icon-title{
    text-transform: uppercase;
    font-family:roboto-regular ;
}
.icon-sub-title{
    max-width: 35%;
    
}
.flaticon-download{
    transform: translate(-40% ,-40%);
    color: #FFF;
    text-shadow: 0 0 12px rgba(247, 244, 245, .8);

}
.company-name{
    margin: 30px 25px;

}
.company-name p{
    font-family: roboto-fancy;
    font-size: 25px;
    text-transform: capitalize;

}
/* end content css */
 /* strat social media css  */
 .social-media{
    position: absolute;
    bottom: 22%;
    left: 0%;
    z-index: 1029;
 }
 .social-media ul{
     list-style: none;
 }

 #arrow-element{
    display: none;
 }
 .flaticon-size:before{
     font-size: 13px ;
 }
 .icon-flaticon{
    margin-left: -2px;

 }
 .social-media:hover #arrow-element{
    display: block;
    -webkit-animation: slide-up .8s ease-out;
    -moz-animation: slide-up .8s ease-out;
 }

 @-webkit-keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateY(100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-up {
    0% { opacity: 0; -moz-transform: translateY(100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}
.social-media ul li a{
     text-decoration: none;
     text-align: center;
     justify-content: center;
     width: 60px;
     height: 60px;
     
 }
.social-media  ul li a:hover{
    text-shadow: 0 0 12px rgba(247, 244, 245, .8);
     
 }
 @media only screen
and (max-width : 1300px) {
    .social-media{
        left: -3%;
    }
}
@media only screen
and (max-width : 1020px) {
    .social-media{
        left: -5%;
    }
}

/* end social media css  */
 





